*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 30px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h3 {
    display: none;
}

#nav h1 {
    /* background-color: rgb(204, 255, 0); */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 35px;
    letter-spacing: -2px;
    position: relative;
}

#nav h1::after {
    content: "©";
    font-family: gilroy;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 14%;
    right: 11%;
}

#nav h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    color: #3e3d3d;
    font-size: 12px;
    letter-spacing: -.5px;
    position: absolute;
    bottom: 13%;
    right: 19%;
}

#nav h2 {
    /* background-color: rgb(204, 255, 0); */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 18px;
    font-weight: 550;
    /* background-color: red; */
}

#nav h2:nth-last-child(1) {
    border-right: 2px solid #00000000;
}

#nav h2:nth-last-child(2) {
    width: 15%;

}


#center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 3vw 4vw;
}

#content {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;

}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.2vw;
    /* font-weight: 100; */

}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    /* font-weight: 100; */
    border: 1px solid #fff;

}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    /* display: flex; */
    overflow-x: hidden;
    overflow-y: hidden;
}
#container {
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

#alphabet h5 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 2px solid #000000;
    margin-right: 1vw;
}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: rgb(251, 255, 0); */
    padding: 0.4vw 0.3vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1.25px solid #000;

}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: space;
    justify-content: space-between;
    padding: 2vw 5vw;
    /* background-color: brown; */
    gap: 5vh;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1523264766116-1e09b3145b84?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#page2-right{
    height: 100%;
    width: 46%;
    /* display: flex; */
    /* background-color: aqua; */
}
#page2-right img{
    width: 100%;
    object-fit: cover;
    height: 70%;

}
#page2-text{
    width: 100%;
    height: 180px;
    position: relative;
}

#page2-text h3{
    margin-top: 2vh;
    font-weight: 550;
    font-size: 15px;
    margin-left: 4vh;
 

}


#page3{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10vh;
}


#page3-left {
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
}
#page3-left h1{
    font-family: monument;
    font-weight: 600;
    font-size: 6vh;
    margin-left: 8vh;
}
#page3-left img{
    margin-top: 15vh;
    margin-left: 15vh;
}
#page3-left h2{
    margin-top: 12vh;
    margin-left: 20vh;
    font-weight: 500;
}
#page3-img{
    height: 85%;
    width: 50%;
    margin-top: 15vh;
    
    background-image: url(https://plus.unsplash.com/premium_photo-1669951867704-a78fd21fbbd2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    
    background-size: cover;
}

#page4{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
#page4 img{
    object-fit: cover;
    width: 95%;
    height: 90%;
    margin-top: 10vh;
    margin-left: 4vh;
    padding: 1vh 2vh 3vh 8vh;
}
#page5 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1 {
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 900; */
    margin-bottom: 7vh;
}

.elem {
    height: 15.5vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;

    transition: all ease 0.7s;

}

.elem img {
    height: 85px;
    width: 85px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    object-fit: cover;
    object-position: top;
    transition: all ease 0.7s;
}

.elem h4 {
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
}

.elem .elem-part2 {
    width: 45%;
    /* background-color: red; */
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #000;

}

.elem:nth-last-child(1) img {
    left: 40%;
}

.elem:nth-last-child(3) img {
    left: 40%;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}


.container {
    display: flex;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    gap: 4vh;
    /* margin-top: 2vh; */
}

.image-box, .text-box {
    width: 50%;
    padding: 10px;
    /* margin-left: 2vh; */
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    margin-left: 6vh;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 2vh;
}

.text-box h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: monument;
    margin-left: 2vh;
}
.text-box h3{
    margin-left: 2vh;
}

.text-box p {
    margin: 10px 0;
    line-height: 1.02;
    margin-left: 2vh;
    font-weight: 500;
}

.sub-images {
    display: flex;
    gap: 2px;
}

.sub-images img {
    width: 50%;
    height: 86%;
    /* display: block; */
    /* margin-top: 2vh; */
    padding: 3vh;
    /* margin-right: 2vh; */
    object-fit: cover;
    margin-bottom: -4vh;
}

#marque {
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    padding: 0.8vw;
    margin-top: 5vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

#marque h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    font-family: monument;
    /* background-color: blue; */
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}


.container {
    margin-top: 4vh;
    max-width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: #fff; */
}

.header {
    text-align: left;
    padding: 20px 0;
}

.header h1 {
    font-size: 2.5em;
    font-family: monument;
}

.content {
    display: flex;
    gap: 6vh;
    /* justify-content: space-between; */
    /* padding: 10px 0; */
}

.article {
    width: 45%;
}

.article p {
    font-size: 1.1em;
    line-height: 1.5;
    height: 15vh;
    margin-left: 2vh;
}

.article img {
    width: 100%;
    object-fit: cover;
    height: 50%;
    margin-top: 15px;
    margin-left: 2vh;
}
#footer{
    width: 100%;
    height: 20%;
}
 #footer-text {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 30px; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-text h1 {
    height: 100%;
    width: 20%;
    display: flex;
    margin-top: 4vh;
    margin-left: 4vh;
    justify-content: center;
    font-family: monument;
    font-size: 35px;
    /* letter-spacing: -2px; */
    position: relative;
}
#footer-text h1::after {
    content: "©";
    font-family: gilroy;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: -3%;
    right: -1%;
}

#footer-text h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    color: #3e3d3d;
    font-size: 12px;
    letter-spacing: -.5px;
    position: absolute;
    bottom: 60%;
    right: 12%;
}

#footer-text h2 {
    /* background-color: rgb(204, 255, 0); */
    height: 100%;
    width: 40%;
    padding: 4vh;
    display: flex;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 18px;
    font-weight: 500;
    /* background-color: red; */
}

#footer-column{
    width: 40%;
    height: 50%;
    padding: 4vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #000;
    margin-bottom: 10vh;

}
#footer-column h3{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-left: 20vh;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:600px) {
    body {
        overflow-x: hidden;
    }

    #nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;
    }

    #nav h1 {
        width: 40%;
        justify-content: flex-start;
        font-size: 24px;
    }

    #nav h3 {
        display: block;
    }

    #nav h1::after {

        display: none;
    }

    #nav h1::before {
        display: none;

    }

    #nav h2 {

        display: none;

    }


    #center {
        height: 40%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding: 3vw 4vw;
    }

    #content {
        height: 100%;
        width: 100%;
        background-color: blue;
        position: relative;
    }

    #content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #overlay {
        height:fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 3vw;
        color: #fff;

    }

    #over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    }

    #over1 h1 {
        font-family: monument;
        font-size: 5.5vw;
        font-weight: 100;

    }

    #over1 h2 {
        font-size: 2vw;
        padding: 3vw 3.2vw;
        /* background-color: blue; */
        border-radius: 50%;
        /* font-weight: 100; */
        border: 1px solid #fff;

    }

    #over2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1.5vw 0;
    }

    #over2 h4 {
        font-size: 3vw;
        font-weight: 500;
    }

    #over2 img {
        height: 5vw;
    }

    #scroll {
        height: 20vh;
        width: 100%;
        /* background-color: red; */
        /* padding: 1vw; */
        white-space: nowrap;
        /* display: flex; */
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    #container {
        height: 100%;
        width: 210%;
        /* background-color: blue; */
        display: inline-block;
        padding: 2vw;
        animation-name: anime;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    #scroll img {
        /* display: none; */
        height: 95%;
        border-radius: 50%;
        width: 15.5%;
        margin: 1vw;
        object-fit: cover;
        object-position: 30% 30%;
    }
    
}




